.container-navbar{
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	z-index: 1;
	width: 100%;
	padding: 20px 30px;
	display: flex;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	/*overflow: hidden;*/
	height: 3.5em;
	min-height: 0vh;
	transition: all 400ms;
	z-index: 10;
}
.container-logo{
	width: 120px;
}
.container-logo img{
	width: 100%;
}
.container-logo h1{
	display: flex;
	align-items: center;
	height: 22px;
}
.container-right-nav{
	display: flex;
}
.container-donate{
	display: inline;
	margin-right: 15px;
}
.container-donate a{
	display: block;
}
.container-about{
	position: relative;
}
.container-about h2{ 
	opacity: 1;
	user-select: none;
	transition: opacity 100ms;
}
.container-about:after, .container-about:before{
	position: absolute;
	content: '';
	left: 50%;
	top: 0;
	width: 0px;
	height: 100%;
	background-color: white;
	transform: rotate(0deg);
	transition: width 100ms;
	transition: transform 200ms 100ms;
}
.open-about .container-about:after{
	transform: rotate(45deg);
	width: 3px;
}
.open-about .container-about:before{
	transform: rotate(-45deg);
	width: 3px;
}
.open-about .container-about h2{ 
	opacity: 0;
}
.container-menu-items{
	display: flex;
}
.menu-item:not(:last-child){
	margin-right: 15px;
}
.container-about{
	cursor: pointer;
}