*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: "Monument";
	src: url('./fonts/MonumentExtended-Black.ttf') format("truetype");
	font-weight: 800;
}
@font-face {
	font-family: "Anchos";
	src: url('./fonts/AnchoGX.ttf') format("truetype");
}
@font-face {
	font-family: "Reason";
	src: url('./fonts/NewReason-Regular.ttf') format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Reason";
	src: url('./fonts/NewReason-Medium.ttf') format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Reason";
	src: url('./fonts/NewReason-SemiBold.ttf') format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Reason";
	src: url('./fonts/NewReason-Bold.ttf') format("truetype");
	font-weight: 700;
}
h1{
	font-family: "Anchos";
	text-transform: uppercase;
	font-size: 0.9em;
}
h2{
	font-size: 0.8em;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: inherit;
}
body{
	background-color: black;
	font-family: "Monument";
	color: white;
}
*::selection{
	background-color: black;
	color: white;
}
